n8n_workflows/5_disable_notifications.json
{
  "name": "NutriChecker - Disable Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "disable-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-disable-push",
      "name": "Webhook - Disable Push",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "disable-push"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-userid",
              "leftValue": "={{ $json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/push_tokens",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "eq.{{ $json.userId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_active",
              "value": false
            },
            {
              "name": "last_used_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "deactivate-tokens",
      "name": "Deactivate Tokens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nutrichecker",
          "name": "Supabase NutriChecker"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "eq.{{ $('Webhook - Disable Push').item.json.userId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notifications_enabled",
              "value": false
            },
            {
              "name": "updated_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-user-settings",
      "name": "Update User Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nutrichecker",
          "name": "Supabase NutriChecker"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sent_notifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Webhook - Disable Push').item.json.userId }}"
            },
            {
              "name": "push_token",
              "value": "system"
            },
            {
              "name": "notification_type",
              "value": "system"
            },
            {
              "name": "title",
              "value": "Уведомления отключены"
            },
            {
              "name": "body",
              "value": "Пользователь отключил push-уведомления"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({\n  type: 'notifications_disabled',\n  userId: $('Webhook - Disable Push').item.json.userId,\n  timestamp: new Date().toISOString()\n}) }}"
            },
            {
              "name": "status",
              "value": "sent"
            }
          ]
        },
        "options": {}
      },
      "id": "log-disable-action",
      "name": "Log Disable Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-nutrichecker",
          "name": "Supabase NutriChecker"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Push notifications disabled successfully\",\n  \"userId\": \"{{ $('Webhook - Disable Push').item.json.userId }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Invalid input data\",\n  \"message\": \"Required field: userId\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "responseCode": 400,
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook - Disable Push": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Deactivate Tokens",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update User Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Tokens": {
      "main": [
        [
          {
            "node": "Log Disable Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Settings": {
      "main": [
        [
          {
            "node": "Log Disable Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Disable Action": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "disable-notifications",
  "tags": [
    {
      "createdAt": "2024-12-25T10:00:00.000Z",
      "updatedAt": "2024-12-25T10:00:00.000Z",
      "id": "nutrichecker",
      "name": "nutrichecker"
    }
  ]
} 